#container-xroad
{
  width: 80%;
  background-color: #ededed;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgrey;
  padding: 20px;
}

.xroad-logo
{
  text-align: center;
}

.xroad-logo img
{
  width: 300px;
}

.form-control
{
  width: 50%;
}

#logsInformations
{
  background-color: white;
  border: 1px solid lightgrey;
  color: red;
  padding: 10px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}
